/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: #55a;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	height: 50px;
}

/* Links inside the navbar */
.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


/* Change background on mouse-over */
.navbar a:hover {
	background: #77c;
	color: black;
}

/* Main content */
.main {
	width: max-content;
	margin-top: 60px; /* Add a top margin to avoid content overlay */
	margin-left: 8px;
}

body {
    display: block;
    margin: 0px;
}
