<html>

<head>
	<meta charset="utf-8"/>
	<!-- Vue.js development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css"></link>
	<link rel="stylesheet" type="text/css" href="css/navbar.css"></link>
</head>

<body>
	
	<div class="navbar">
		<a href="index.html">All cars</a>
		<a href="addnewcar.html">New car</a>
	</div>
	
	<div class="main" id="getAllCarsApp">
		<h1>{{header_text}}</h1>
		<div>
			<p>{{message}}</p>
			<br>
			<button v-on:click="getAllCars">{{button_text}}</button>
		</div>
		
		<div id="resultsDiv">
			<p id="resultsText">No results here.</p>
			<div id="resultsList"></div>
		</div>
	</div>

	<!-- Load the Vue app at the end, because otherwise the app element can't be found. -->
	<script src="js/index.js"></script>
</body>

</html>
